<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The watch and code blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a class="logo"  href="http://localhost:8080/watchandcode">
                <img class="logoimg" src="/images/logo.png" alt="Clickable" >
             </a>
            <div class="nav_content">
                <a href="http://localhost:8080/watchandcode/curriculum">Curriculum</a>
                <a href="http://localhost:8080/watchandcode/feature">Features</a>
                <a href="http://localhost:8080/watchandcode/pricing">Pricing</a>
                <a href="http://localhost:8080/watchandcode/review">Reviews</a>
                <a href="http://localhost:8080/watchandcode/blog">Blog</a>
                <a href="https://www.youtube.com/channel/UC0NG3Zs8gvNzXG_OwaBdfbg">Youtube</a>
                <button id="loginbtn">Login</button>
               <form method="get" action="http://localhost:8080/watchandcode/join">
                <button class="programbtn">Join Our Program</button></form>
            </div>
        </nav>
    </div>

     <div class="container">
        <h1 class="curriculum-heading" >Blog</h1>
    </div>

    <div class="curriculum-anchor">
        <p style="margin-bottom: 1rem;"><a href="#">Making Sense of Expressions, Statements, and Semicolons</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">Curated List of Software Engineering Apprenticeships</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">Good Updates / Bad Updates</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">Should I use const, let, or var in JavaScript?</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">How To Study With A Full-Time Job</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">Why You Should Never Use Tabs</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">How to Think About "this" in JavaScript</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">A Flight to Quality in Teaching and Hiring</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">Finally Mastering Big O Notation</a><br></p>
        <p style="margin-bottom: 1rem;"><a href="#">How I Became a Teacher</a><br></p>
        <p style="margin-bottom: 3rem;"><a href="#">A Brief History of Watch and Code</a><br></p>
     
        
        
    </div>

    <footer class="footer">
        <div class="footer-left">Watch and Code</div>
        <div class="footer-right">
            <a style="text-decoration: none; display: block;" href="mailto:team@watchandcode.com">team@watchandcode.com</a>
            <a href="#">Youtube </a>
            <a href="#">LinkedIn</a>
            <a href="#">Terms</a>
            <a href="#">Privacy </a>
        </div>
        
    </footer>

    
</body>
</html>