<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch and Code-join</title>
    <link rel="stylesheet" href="/style.css">  
</head>
<body>

    <div class="container">
        <nav>
            <a class="logo"  href="http://localhost:8080/watchandcode">
                <img class="logoimg" src="/images/logo.png" alt="Clickable" >
             </a>
            <div class="nav_content">
                <a href="http://localhost:8080/watchandcode/curriculum">Curriculum</a>
                <a href="http://localhost:8080/watchandcode/feature">Features</a>
                <a href="http://localhost:8080/watchandcode/pricing">Pricing</a>
                <a href="http://localhost:8080/watchandcode/review">Reviews</a>
                <a href="http://localhost:8080/watchandcode/blog">Blog</a>
                <a href="https://www.youtube.com/channel/UC0NG3Zs8gvNzXG_OwaBdfbg">Youtube</a>
                <button id="loginbtn">Login</button>
               <form method="get" action="http://localhost:8080/watchandcode/join">
                <button class="programbtn">Join Our Program</button></form>
            </div>
        </nav>
    </div>

    <div class="heading">
        <h1 class="h1heading">Join our program</h1>
        <p class="para1">Our simple pricing gives you total flexibility. There's no risk and you can cancel anytime.</p>
    </div>

    <div class="box">
        <div class="b1">
            <p>Prework and Admissions</p>
            <ul>
                <Li>Solidify your fundamentals with our Programming Foundations course</Li>
                <li>Complete a brief technical written exam that tests your fundamental skills</li>
                <li>If you do well, we'll invite you to interview with Gordon and/or Lily over Zoom</li>
            </ul>
        </div>
        <div class="b2">
            <p style="font-weight: bold; margin: auto; text-align: center;">Nominal one-time fee</p>
            <p style="margin: auto; text-align: center; font-size: 1.5rem; padding-top: 1rem;">$99</p>
            <a href="#">
                <button class="programbtn">Start learning now</button>
            </a>
        </div>
    </div>

    <div class="box">
        <div class="b1">
            <p>Full-Access Membership</p>
            <ul>
                <Li>Master algorithms with our intense, feedback-driven assessments</Li>
                <li>Learn how to build production-level web applications from scratch</li>
                <li>Supercharge your career with personalized career coaching</li>
            </ul>
        </div>
        <div class="b2">
            <p style="font-weight: bold; margin: auto; text-align: center;">No commitment</p>
            <p style="margin: auto; text-align: center; font-size: 1.5rem; padding-top: 1rem;">$299/month</p>
            <p style="margin: auto; text-align: center; padding-top: 1rem;">If admitted, you'll be invited to join</p>
           
        </div>
    </div>
    
    <div class="para2" >
        <p class="p7">We only admit students that can handle the rigor of our program. If you’re not a good fit, we’ll happily recommend alternatives.</p>
        <p class="p7">We don’t want the perverse incentives that come from charging one lump sum fee of $20-30K. Having to win you over each month pushes us to do our best.</p>
        <p class="p7">There are no financial commitments and you can cancel anytime. We only want you to stay with us if it makes sense.</p>
        <p class="p7">We’ve taken every measure to offer the best services at an unbeatable value. No other program offers this level of quality at any price.</p>
    </div>

    <footer class="footer">
        <div class="footer-left">Watch and Code</div>
        <div class="footer-right">
            <a style="text-decoration: none; display: block;" href="mailto:team@watchandcode.com">team@watchandcode.com</a>
            <a href="#">Youtube </a>
            <a href="#">LinkedIn</a>
            <a href="#">Terms</a>
            <a href="#">Privacy </a>
        </div>
        
    </footer>
</body>
</html>