<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features-watch and code</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a class="logo"  href="http://localhost:8080/watchandcode">
                <img class="logoimg" src="/images/logo.png" alt="Clickable" >
             </a>
            <div class="nav_content">
                <a href="http://localhost:8080/watchandcode/curriculum">Curriculum</a>
                <a href="http://localhost:8080/watchandcode/feature">Features</a>
                <a href="http://localhost:8080/watchandcode/pricing">Pricing</a>
                <a href="http://localhost:8080/watchandcode/review">Reviews</a>
                <a href="http://localhost:8080/watchandcode/blog">Blog</a>
                <a href="https://www.youtube.com/channel/UC0NG3Zs8gvNzXG_OwaBdfbg">Youtube</a>
                <button id="loginbtn">Login</button>
               <form method="get" action="http://localhost:8080/watchandcode/join">
                <button class="programbtn">Join Our Program</button></form>
            </div>
        </nav>
    </div>

    <div class="heading">
        <h1 class="h1heading">Uncompromising On Every Front</h1>
        <p class="para1" style="margin-top: 0;">Our program is built on a maximalist idea: anything a teacher could do to genuinely help their students, we do..</p>
    </div>

    <div class="box" style=" height: auto; width: 73%; display: grid; grid-template-columns: repeat(auto-fit, minmax(300px,1fr));gap: 20px; padding: 20px; margin-bottom: 3rem;">
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Meticulous Senior-Level Code Reviews</h5>
            </div>
            <p class="p4">No one offers real eyes on your work at the frequency we do (as often as daily). Our system simulates how code reviews are done at the most competitive firms, and has been carefully adapted for the learning context. This allows us to provide detailed feedback on the nuanced aspects of program design, as well as more advanced topics like performance (time and space complexity). Contrast this with most schools that rely on autograders and "feedback" from teaching assistants and bots.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Rigorous Mastery-Based System</h5>
            </div>
            <p class="p4">Our strict mastery-based system ensures that you deeply understand what you're doing at every step before moving on. Teaching this way requires us to hold students to the highest standard—higher than even the best students would do on their own. The type of person who prioritizes the progress bar over real understanding will be frustrated by our approach, but if you're looking for depth and mastery, there's nothing better.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Meticulous Senior-Level Code Reviews</h5>
            </div>
            <p class="p4">No one offers real eyes on your work at the frequency we do (as often as daily). Our system simulates how code reviews are done at the most competitive firms, and has been carefully adapted for the learning context. This allows us to provide detailed feedback on the nuanced aspects of program design, as well as more advanced topics like performance (time and space complexity). Contrast this with most schools that rely on autograders and "feedback" from teaching assistants and bots.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Rigorous Mastery-Based System</h5>
            </div>
            <p class="p4">Our strict mastery-based system ensures that you deeply understand what you're doing at every step before moving on. Teaching this way requires us to hold students to the highest standard—higher than even the best students would do on their own. The type of person who prioritizes the progress bar over real understanding will be frustrated by our approach, but if you're looking for depth and mastery, there's nothing better.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
        <div class="b22">
            <div class="b33">   
                <h5  style="font-size: 1.2rem; font-weight: 800px; border-bottom: 1px solid rgba(146, 146, 146, 0.4); margin-bottom: 10px; padding-bottom: 3px;" class="heading5"  >Live Assessments That Are Like Real Interviews</h5>
            </div>
            <p class="p4">Our algorithms track incorporates live 1:1 assessments that are structured like interviews at top-level companies. Each one is dynamic and includes multiple parts, twists, and probing follow-up questions, just like the real thing. Regular benchmarks like this help our students manage "the live gap", the difference between what you can do on your own and what you can do live.</p>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-left">Watch and Code</div>
        <div class="footer-right">
            <a style="text-decoration: none; display: block;" href="mailto:team@watchandcode.com">team@watchandcode.com</a>
            <a href="#">Youtube </a>
            <a href="#">LinkedIn</a>
            <a href="#">Terms</a>
            <a href="#">Privacy </a>
        </div>
        
    </footer>
    
</body>
</html>